<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="utf-8" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    </head>

    <body>

        <form method="post" id="throw-to-login-form" style="display:none" action="~/Home/Login">
            <input></input>
        </form>

        <script>

            $("#throw-to-login-form").submit()

        </script>

    </body>

</html>
