<!DOCTYPE html>

<head>

    <meta charset="utf-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>

<body>

    <form method="post" id="throw-to-login-form" style="display:none" action="/Home/Library">
        <input id="hidden-form-input" name="userName" />
    </form>

    <script>

        $("#hidden-form-input").val("")
        $("#throw-to-login-form").submit()

    </script>

</body>

