<!DOCTYPE html>

<html lang="ru">

<head>

    <meta charset="utf-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>

    <link rel="stylesheet" href="~/css/library.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <script src="https://kit.fontawesome.com/9d04c2dd40.js" crossorigin="anonymous"></script>

    <title>Фильмотека</title>

</head>

<body>

    <div id="library" class="outer-container">

        <div class="nav-bar" id="nav-bar">

            <div class="nav-bar-header-container">

                <p class="nav-bar-header">Фильмотека</p>

            </div>

            <div class="search-bar-container">

                <input class="search-input" type="text" placeholder="Поиск по названию" maxlength="99" v-model="nameFilter" v-on:keypress="checkKeyCodeAndUpdate($event)" spellcheck="false" />
                <button class="search-button" v-on:click="updateLibrary(1)"><i class="fa fa-search"></i></button>

            </div>

            <div class="nav-bar-user-container">

                <button class="user-button" v-on:click="showUserInfo = true"><i class="fas">&#xf406;</i></button>

            </div>

        </div>

        <div class="main-part-container" v-show="loading < 1">

            <div class="side-bar-container">

                <p class="side-bar-header">Фильтры</p>

                <div class="filter-group">

                    <p class="filter-group-header">Год</p>

                    <div class="text-and-input">

                        <p class="input-text">От:</p>
                        <input class="input" type="number" v-on:beforeInput="tryEnterNumber($event)" v-model="minYear" />
                    
                    </div>

                    <div class="text-and-input">

                        <p class="input-text">До:</p>
                        <input class="input" type="number" v-on:beforeInput="tryEnterNumber($event)" v-model="maxYear" />

                    </div>

                </div>

                <div class="filter-group">

                    <p class="filter-group-header">Рейтинг</p>

                    <div class="text-and-input">

                        <p class="input-text">От:</p>
                        <input class="input" type="number" v-on:beforeInput="tryEnterNumber($event)" v-model="minScore" />
                    
                    </div>

                    <div class="text-and-input">

                        <p class="input-text">До:</p>
                        <input class="input" type="number" v-on:beforeInput="tryEnterNumber($event)" v-model="maxScore" />

                    </div>

                </div>

                <div class="filter-group">

                    <p class="filter-group-header">Жанр</p>

                    <div class="genre-container">

                        <label class="genre-entry" v-for="genre in genres">

                            <input class="genre-checkbox" type="checkbox" v-on:change="checkGenre($event, genre)" />
                            <span class="checkmark"></span>
                            <p class="genre-name">{{ genre }}</p>

                        </label>

                    </div>

                </div>

                <button class="update-button" v-on:click="updateLibrary(1)">Обновить</button>

            </div>

            <div class="library-container" v-show="library.length > 0">

                <transition name="opacity-animation">

                    <div class="user-info-container" v-show="showUserInfo == true">

                        <button class="close-button" v-on:click="showUserInfo = false"><i class="fa-solid fa-x"></i></button>

                        <template v-if="userName != ''">

                            <p class="user-name">Вы зашли под именем</p>
                            <p class="user-name">{{ userName }}</p>
                            <button class="login-button" v-on:click="logOut()">Выйти</button>

                        </template>

                        <template v-if="userName == ''">

                            <div class="log-in-register-form" v-show="regMode == false">

                                <div>
                                    <input class="textbox" type="text" placeholder="Логин" v-model="login" />
                                </div>

                                <div>
                                    <input class="textbox" type="password" placeholder="Пароль" v-model="password" />
                                </div>

                                <div>
                                    <button class="button" v-on:click="tryLogIn()">Войти</button>
                                </div>

                                <div>
                                    <button class="button switch-button" v-on:click="regMode = true">Регистрация</button>
                                </div>

                                <div v-if="logInError == true">
                                    <p class="error-message">Неверные логин/пароль</p>
                                </div>

                                <div v-if="logInErrorFill == true">
                                    <p class="error-message">Заполните все поля</p>
                                </div>

                            </div>

                            <div class="log-in-register-form" v-show="regMode == true">

                                <div>
                                    <input class="textbox" type="text" placeholder="Логин" v-model="loginRegister" />
                                </div>

                                <div>
                                    <input class="textbox" type="password" placeholder="Пароль" v-model="password1" />
                                </div>

                                <div>
                                    <input class="textbox" type="password" placeholder="Подтвердите пароль" v-model="password2" />
                                </div>

                                <div>
                                    <button class="button" v-on:click="tryRegister()">Зарегестрироваться</button>
                                </div>

                                <div>
                                    <button class="button switch-button" v-on:click="regMode = false">Вход</button>
                                </div>

                                <div v-if="regErrorPassword == true">
                                    <p class="error-message">Пароли не совпадают</p>
                                </div>

                                <div v-if="regErrorTaken == true">
                                    <p class="error-message">Пользователь с таким именем уже существует</p>
                                </div>

                                <div v-if="regErrorFill == true">
                                    <p class="error-message">Заполните все поля</p>
                                </div>

                                <div v-if="regErrorLoginTooLong == true">
                                    <p class="error-message">Длина логина не должна превышать 12 символов</p>
                                </div>

                                <div v-if="regErrorPasswordTooLong == true">
                                    <p class="error-message">Длина пароля не должна превышать 12 символов</p>
                                </div>

                                <div v-if="regErrorLoginTooShort == true">
                                    <p class="error-message">Минимальная длина логина 5 символов</p>
                                </div>

                                <div v-if="regErrorPasswordTooShort == true">
                                    <p class="error-message">Минимальная длина пароля 5 символов</p>
                                </div>

                                <div v-if="regErrorLoginSymbols == true">
                                    <p class="error-message">В логине разрешены только цифры, заглавные и строчные латинские буквы, а также символы "_" и "-"</p>
                                </div>

                                <div v-if="regErrorPasswordSymbols == true">
                                    <p class="error-message">В пароле разрешены только цифры, заглавные и строчные латинские буквы, а также символы "_" и "-"</p>
                                </div>

                            </div>

                        </template>

                    </div>

                </transition>


                <div class="library-counter-container">

                    <span class="library-counter">Фильмы&nbsp;{{ library.length }}</span>

                </div>

                <div class="paging-buttons-container" v-if="totalPages > 1">

                    <button class="paging-button" v-bind:disabled="currentPage <= 1" v-on:click="updateLibrary(1)">&lt&lt</button>
                    <button class="paging-button" v-bind:disabled="currentPage <= 1" v-on:click="updateLibrary(currentPage - 1)">&lt</button>
                    <button class="paging-button" v-for="page in createRange(Math.max(Math.min(currentPage + 2, totalPages) - 5, 1), Math.min(Math.max(currentPage - 2, 1) + 5, totalPages), 1)" v-on:click="updateLibrary(page)" v-bind:class="{ 'inactive-paging-button': page == currentPage }" v-bind:disabled="page == currentPage">{{ page }}</button>
                    <button class="paging-button" v-bind:disabled="currentPage >= totalPages" v-on:click="updateLibrary(currentPage + 1)">&gt</button>
                    <button class="paging-button" v-bind:disabled="currentPage >= totalPages" v-on:click="updateLibrary(totalPages)">&gt&gt</button>

                </div>

                <div class="films-container">

                    <div class="library-entry" v-for="film in library">

                        <div class="image-with-button">

                            <img class="film-cover" v-bind:src="film.coverUrl" width="200" height="300"></img>

                            <div class="film-cover-ontop">

                                <div class="film-info-container"><p class="film-info">{{ film.year }} г. | {{ film.duration }} мин.</p></div>
                                
                                <div class="film-info-container" v-show="film.rating > 0"><p class="film-info">{{ film.rating }} / 5</p></div>
                                
                                <div class="film-info-container" v-show="film.rating == 0"><p class="film-info">Оценок нет</p></div>
                                
                                <div class="film-info-container">
                                    <p class="film-info" v-for="country in film.countries">{{ country }} &nbsp</p>
                                </div>

                                <div class="user-rating-section" v-if="userName != ''">
                                    <span class="fa fa-star" v-bind:class="{ 'selected-star': film.visualRating >= 1 }" v-on:mouseover="film.visualRating = 1" v-on:mouseleave="film.visualRating = film.currentUserRating" v-on:click="film.currentUserRating = 1; updateUserScore(film.id, 1)"></span>
                                    <span class="fa fa-star" v-bind:class="{ 'selected-star': film.visualRating >= 2 }" v-on:mouseover="film.visualRating = 2" v-on:mouseleave="film.visualRating = film.currentUserRating" v-on:click="film.currentUserRating = 2; updateUserScore(film.id, 2)"></span>
                                    <span class="fa fa-star" v-bind:class="{ 'selected-star': film.visualRating >= 3 }" v-on:mouseover="film.visualRating = 3" v-on:mouseleave="film.visualRating = film.currentUserRating" v-on:click="film.currentUserRating = 3; updateUserScore(film.id, 3)"></span>
                                    <span class="fa fa-star" v-bind:class="{ 'selected-star': film.visualRating >= 4 }" v-on:mouseover="film.visualRating = 4" v-on:mouseleave="film.visualRating = film.currentUserRating" v-on:click="film.currentUserRating = 4; updateUserScore(film.id, 4)"></span>
                                    <span class="fa fa-star" v-bind:class="{ 'selected-star': film.visualRating >= 5 }" v-on:mouseover="film.visualRating = 5" v-on:mouseleave="film.visualRating = film.currentUserRating" v-on:click="film.currentUserRating = 5; updateUserScore(film.id, 5)"></span>
                                </div>

                                <div class="image-button-container">
                                    <button class="image-button" v-on:click="goMoreInfo(film.id)">Подробнее</button>
                                </div>

                            </div>

                        </div>

                        <p class="film-name">{{ film.name }}</p>

                    </div>

                </div>

                <div class="paging-buttons-container" v-if="totalPages > 1">

                    <button class="paging-button" v-bind:disabled="currentPage <= 1" v-on:click="updateLibrary(1)">&lt&lt</button>
                    <button class="paging-button" v-bind:disabled="currentPage <= 1" v-on:click="updateLibrary(currentPage - 1)">&lt</button>
                    <button class="paging-button" v-for="page in createRange(Math.max(Math.min(currentPage + 2, totalPages) - 5, 1), Math.min(Math.max(currentPage - 2, 1) + 5, totalPages), 1)" v-on:click="updateLibrary(page)" v-bind:class="{ 'inactive-paging-button': page == currentPage }" v-bind:disabled="page == currentPage">{{ page }}</button>
                    <button class="paging-button" v-bind:disabled="currentPage >= totalPages" v-on:click="updateLibrary(currentPage + 1)">&gt</button>
                    <button class="paging-button" v-bind:disabled="currentPage >= totalPages" v-on:click="updateLibrary(totalPages)">&gt&gt</button>

                </div>

            </div>

            <p class="no-result-message" v-show="library.length < 1 && loading < 1">По вашему запросу ничего не найдено</p>

        </div>

        <div class="loader-1" v-show="loading > 0">
            <div class="loader-2">
                <div class="loader"></div>
            </div>
        </div>

    </div>

    <form method="post" id="go-to-more-info" style="display:none" action="~/Home/MoreInfo">
        <input id="hidden-form-input-film-id" name="id"></input>
    </form>


    <script src="~/js/library.js"></script>

</body>

</html>
