@model LoginModel

<!DOCTYPE html>

<head>

    <meta charset="utf-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>

    <link rel="stylesheet" href="~/css/logIn.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/9d04c2dd40.js" crossorigin="anonymous"></script>

    <title>Вход</title>

</head>

<body>

    <div class="background-image"></div>

    <div class="blur-frame"></div>

    <div class="main-container" id="authentication-form">

        <div class="back-button-container">

            <button class="back-button" v-on:click="goBack()"><i class="fa-solid fa-x"></i></button>

        </div>

        <div class="log-in-register-form" v-show="regMode == false">

            <div>
                <input class="textbox" type="text" placeholder="Логин" v-model="login" />
            </div>

            <div>
                <input class="textbox" type="password" placeholder="Пароль" v-model="password" />
            </div>

            <div>
                <button class="button" v-on:click="tryLogIn()">Войти</button>
            </div>

            <div>
                <button class="button switch-button" v-on:click="regMode = true">Нет аккаунта? Зарегестрироваться</button>
            </div>

            <div v-if="logInError == true">
                <p class="error-message">Неверные логин/пароль</p>
            </div>

            <div v-if="logInErrorFill == true">
                <p class="error-message">Заполните все поля</p>
            </div>

        </div>

        <div class="log-in-register-form" v-show="regMode == true">

            <div>
                <input class="textbox" type="text" placeholder="Логин" v-model="loginRegister" />
            </div>

            <div>
                <input class="textbox" type="password" placeholder="Пароль" v-model="password1" />
            </div>

            <div>
                <input class="textbox" type="password" placeholder="Подтвердите пароль" v-model="password2" />
            </div>

            <div>
                <button class="button" v-on:click="tryRegister()">Зарегестрироваться</button>
            </div>

            <div>
                <button class="button switch-button" v-on:click="regMode = false">Есть акаунт? Войти</button>
            </div>

            <div v-if="regErrorPassword == true">
                <p class="error-message">Пароли не совпадают</p>
            </div>

            <div v-if="regErrorTaken == true">
                <p class="error-message">Пользователь с таким именем уже существует</p>
            </div>

            <div v-if="regErrorFill == true">
                <p class="error-message">Заполните все поля</p>
            </div>

            <div v-if="regErrorLoginTooLong == true">
                <p class="error-message">Длина логина не должна превышать 12 символов</p>
            </div>

            <div v-if="regErrorPasswordTooLong == true">
                <p class="error-message">Длина пароля не должна превышать 12 символов</p>
            </div>

            <div v-if="regErrorLoginTooShort == true">
                <p class="error-message">Минимальная длина логина 5 символов</p>
            </div>

            <div v-if="regErrorPasswordTooShort == true">
                <p class="error-message">Минимальная длина пароля 5 символов</p>
            </div>

            <div v-if="regErrorLoginSymbols == true">
                <p class="error-message">В логине разрешены только цифры, заглавные и строчные латинские буквы, а также символы "_" и "-"</p>
            </div>

            <div v-if="regErrorPasswordSymbols == true">
                <p class="error-message">В пароле разрешены только цифры, заглавные и строчные латинские буквы, а также символы "_" и "-"</p>
            </div>

        </div>

        <form method="post" id="try-login-form" style="display:none" action="~/Home/TryLogIn">
            <input id="input-login-username" name="userName" />
            <input id="input-login-password" name="password" />
            <input id="input-login-camefrom" name="cameFrom" />
            <input id="input-login-filmid" name="filmId" />
        </form>

        <form method="post" id="try-register-form" style="display:none" action="~/Home/TryRegister">
            <input id="input-register-username" name="userName" />
            <input id="input-register-password" name="password" />
            <input id="input-register-camefrom" name="cameFrom" />
            <input id="input-register-filmid" name="filmId" />
        </form>

        <form method="post" id="goback-form" style="display:none" action="~/Home/GoBack">
            <input id="input-goback-camefrom" name="cameFrom" />
            <input id="input-goback-filmid" name="filmId" />
        </form>

    </div>

    <script>

        var cameFrom = '@Model.CameFrom'
        var passedError = '@Model.ErrorType'
        var passedFilmId = '@Model.FilmId'

        var showRegistration = false
        var loginTakenError = false
        var wrongCridentialsError = false

        if (passedError == 'LoginTakenError') {
            showRegistration = true
            loginTakenError = true
        }

        else if (passedError == 'WrongCridentialsError') {
            wrongCridentialsError = true
        }

    </script>

    <script src="~/js/login.js"></script>

</body>
