<!DOCTYPE html>

<html lang="ru">

    <head>

        <meta charset="utf-8" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>

        <link rel="stylesheet" href="~/css/logIn.css" asp-append-version="true" />

    </head>

    <body>

        <div class="main-container" id="authentication-form">

            <div class="log-in-register-form" v-show="regMode == false">

                <input class="textbox" type="text" placeholder="Логин" v-model="login" />
                <input class="textbox" type="password" placeholder="Пароль" v-model="password" />
                <button class="button" v-on:click="tryLogIn()">Войти</button>
                <button class="switch-button" v-on:click="regMode = true">Нет аккаунта? Зарегестрироваться</button>
                <p class="error-message" v-show="logInError == true">Неверные логин/пароль</p>
            <p class="error-message" v-show="logInErrorFill == true">Заполните все поля</p>

            </div>

            <div class="log-in-register-form" v-show="regMode == true">

                <input class="textbox" type="text" placeholder="Логин" v-model="loginRegister" />
                <input class="textbox" type="password" placeholder="Пароль" v-model="password1" />
                <input class="textbox" type="password" placeholder="Подтвердите пароль" v-model="password2" />
                <button class="button" v-on:click="tryRegister()">Зарегестрироваться</button>
                <button class="switch-button" v-on:click="regMode = false">Есть акаунт? Войти</button>
                <p class="error-message" v-show="regErrorPassword == true">Пароли не совпадают</p>
                <p class="error-message" v-show="regErrorTaken == true">Пользователь с таким именем уже существует</p>
                <p class="error-message" v-show="regErrorFill == true">Заполните все поля</p>

            </div>

            <form method="post" id="open-library-form" style="display:none" action="~/Home/Library">
                <input />
            </form>

        </div>

        <script src="~/js/login-script.js"></script>

    </body>

</html>
