@model MoreInfoModel

<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>

    <link rel="stylesheet" href="~/css/moreinfo.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <script src="https://kit.fontawesome.com/9d04c2dd40.js" crossorigin="anonymous"></script>


</head>

<body>

    <div id="film-info" class="outer-container">

        <div class="nav-bar" id="nav-bar">

            <div class="nav-bar-back-button-container">

                <button class="back-button" v-on:click="goToLibrary()">&lt</button>

            </div>

            <div class="nav-bar-header-container">

                <p class="nav-bar-header">Фильмотека / {{ filmData.name }}</p>

            </div>

            <div class="nav-bar-user-container">

                <button class="user-button" v-on:click="showUserInfo = true"><i class="fas">&#xf406;</i></button>

            </div>

        </div>

        <div class="main-part-container" v-show="loading < 1">

            <div class="user-info-container" v-show="showUserInfo == true">

                <button class="close-button" v-on:click="showUserInfo = false"><i class="fa-solid fa-x"></i></button>

                <template v-if="userName != ''">

                    <p class="user-name">Вы зашли под именем</p>
                    <p class="user-name">{{ userName }}</p>
                    <button class="login-button" v-on:click="logOut()">Выйти</button>

                </template>

                <template v-if="userName == ''">

                    <p class="user-name">Вы не авторизованы</p>
                    <button class="login-button" v-on:click="goLogin()">Войти</button>

                </template>

            </div>

            <div class="film-page-container">

                <div class="film-cover-and-info">

                    <img class="film-cover" v-bind:src="filmData.coverUrl"></img>

                    <div class="film-info-container">

                        <table class="film-info-table">

                            <tr>
                                <td class="header-cell">
                                    <p class="table-header">Год производства</p>
                                </td>
                                <td class="info-cell">
                                    <p class="table-info">{{ filmData.year }}</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="header-cell">
                                    <p class="table-header">Страна</p>
                                </td>
                                <td class="info-cell">
                                    <p class="table-info">
                                        <span v-for="country in filmData.countries">{{ country }}&nbsp</span>
                                    </p>
                                </td>
                            </tr>

                            <tr>
                                <td class="header-cell">
                                    <p class="table-header">Жанр</p>
                                </td>
                                <td class="info-cell">
                                    <p class="table-info">
                                        <span v-for="genre in filmData.genres">{{ genre }}&nbsp</span>
                                    </p>
                                </td>
                            </tr>

                            <tr>
                                <td class="header-cell">
                                    <p class="table-header">Слоган</p>
                                </td>
                                <td class="info-cell">
                                    <p class="table-info">{{ filmData.slogan }}</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="header-cell">
                                    <p class="table-header">Режиссер</p>
                                </td>
                                <td class="info-cell">
                                    <p class="table-info">
                                        <span v-for="director in filmData.directors">{{ director }}&nbsp</span>
                                    </p>
                                </td>
                            </tr>

                            <tr>
                                <td class="header-cell">
                                    <p class="table-header">Время</p>
                                </td>
                                <td class="info-cell">
                                    <p class="table-info">{{ filmData.duration }} мин.</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="header-cell">
                                    <p class="table-header">Оценка зрителей</p>
                                </td>
                                <td class="info-cell">
                                    <p class="table-info" v-if="filmData.rating > 0">{{ filmData.rating }}</p>
                                    <p class="table-info" v-if="filmData.rating < 1">Оценок нет</p>
                                </td>
                            </tr>

                        </table>

                    </div>

                </div>

                <div class="synopsis-container">

                    <p class="synopsis">{{ filmData.synopsis }}</p>

                </div>

                <div class="film-rating-container" v-if="userName != ''">

                    <p class="rating-header"><b class="rating-header">Ваша оценка</b></p>

                    <span class="fa fa-star" v-bind:class="{ 'selected-star': filmData.visualRating >= 1 }" v-on:mouseover="filmData.visualRating = 1" v-on:mouseleave="filmData.visualRating = filmData.currentUserRating" v-on:click="filmData.currentUserRating = 1; updateUserScore(1)"></span>
                    <span class="fa fa-star" v-bind:class="{ 'selected-star': filmData.visualRating >= 2 }" v-on:mouseover="filmData.visualRating = 2" v-on:mouseleave="filmData.visualRating = filmData.currentUserRating" v-on:click="filmData.currentUserRating = 2; updateUserScore(2)"></span>
                    <span class="fa fa-star" v-bind:class="{ 'selected-star': filmData.visualRating >= 3 }" v-on:mouseover="filmData.visualRating = 3" v-on:mouseleave="filmData.visualRating = filmData.currentUserRating" v-on:click="filmData.currentUserRating = 3; updateUserScore(3)"></span>
                    <span class="fa fa-star" v-bind:class="{ 'selected-star': filmData.visualRating >= 4 }" v-on:mouseover="filmData.visualRating = 4" v-on:mouseleave="filmData.visualRating = filmData.currentUserRating" v-on:click="filmData.currentUserRating = 4; updateUserScore(4)"></span>
                    <span class="fa fa-star" v-bind:class="{ 'selected-star': filmData.visualRating >= 5 }" v-on:mouseover="filmData.visualRating = 5" v-on:mouseleave="filmData.visualRating = filmData.currentUserRating" v-on:click="filmData.currentUserRating = 5; updateUserScore(5)"></span>

                </div>

                <p class="header">Комментарии</p>

                <div class="comments-container">

                    <div class="new-comment-part">

                        <div class="new-comment-container" v-if="userName != ''">

                            <p class="new-comment-user-name">
                                <span>Вы авторизованы под именем &ensp;</span>
                                <span class="my-comment-user-name">{{ userName }}</span>
                            </p>

                            <textarea class="new-comment-textarea" v-model="newComment"></textarea>

                            <button class="send-button" v-on:click="sendComment()">Отправить</button>

                        </div>

                        <div class="new-comment-container" v-if="userName == ''">

                            <div class="center-vert">

                                <p class="new-comment-user-name">Войдите, чтобы оставить отзыв или оценку</p>

                            </div>

                        </div>

                    </div>

                    <div class="comment-list-container">

                        <div class="comment-container" v-for="comment in comments">

                            <p class="comment-user-name"><u v-bind:class="{ 'my-comment-user-name': comment.userName == userName }">{{ comment.userName }}</u></p>
                            
                            <div class="comment-rating-container" v-if="comment.userScore != 0">
                                <span class="fa fa-star" v-bind:class="{ 'selected-star': comment.userScore >= 1 }"></span>
                                <span class="fa fa-star" v-bind:class="{ 'selected-star': comment.userScore >= 2 }"></span>
                                <span class="fa fa-star" v-bind:class="{ 'selected-star': comment.userScore >= 3 }"></span>
                                <span class="fa fa-star" v-bind:class="{ 'selected-star': comment.userScore >= 4 }"></span>
                                <span class="fa fa-star" v-bind:class="{ 'selected-star': comment.userScore >= 5 }"></span>
                            </div>
                            
                            <p class="comment">{{ comment.text }}</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="loader-1" v-show="loading > 0">
            <div class="loader-2">
                <div class="loader"></div>
            </div>
        </div>

    </div>

    <form method="post" id="go-library-form" style="display:none" action="~/Home/Library">
        <input id="input-library-username" name="userName" />
    </form>

    <form method="post" id="go-login-form" style="display:none" action="~/Home/Login">
        <input id="input-login-camefrom" name="cameFrom" />
        <input id="input-login-filmid" name="filmId" />
    </form>

    <script>

        var passedUserName = '@Model.UserName'
        var passedFilmId = '@Model.FilmId'

    </script>

    <script src="~/js/more-info.js"></script>

</body>

</html>
