<!DOCTYPE html>

<html>

<head>

	<meta charset="utf-8" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/pagenotfound.css" asp-append-version="true" />

	<title>404</title>

</head>

<body>

	<div>
		<p class="header404">404</p>
	</div>

	<div>
		<p class="header">Страница не найдена</p>
	</div>

	<div>
		<p class="plain-text">Но вы можете вернуться на <a href="/Home/Library">главную страницу</a></p>
	</div>

</body>

</html>
