<!DOCTYPE html>

<html>

<head>

	<meta charset="utf-8" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/pagenotfound.css" asp-append-version="true" />

	<title>404</title>

</head>

<body>

	<div class="center-hor">
		<div class="wrapper">

			<p class="header404">404</p>
			<p class="header">Страница не найдена</p>
			<p class="plain-text">Но вы можете вернуться на <a href="/Home/Library">главную страницу</a></p>

		</div>
	</div>

</body>

</html>
