* {
    box-sizing: border-box;
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.header {
    text-align: center;
    font-family: tahoma, verdana, arial;
    font-size: 30px;
    color: #f60;
    margin-top: 2%;
    margin-bottom: 2%;
}

.outer-container {
    width: 1200px;
    display: flex;
    box-shadow: 0 0 0 2px white, 0.3em 0.3em 1em rgb(0 0 0 / 60%);
}

.filter-container {
    display: block;
    width: 20%;
}

.filter-header {
    font-size: 22px;
    color: #f60;
    padding-left: 5%;
}

.filter-group {
    display: block;
    margin-top: 3%;
}

.textbox-and-text {
    display: flex;
    padding-left: 3%;
    margin-top: 2%
}

.textbox {
    font-size: 15px;
    height: 70%;
    margin-left: 1%;
    padding-left: 1%;
    width: 70%;
    border-color: grey;
    border-radius: 4px;
}

.genre-filter-checkbox {
    display: flex;
    margin: 1%;
}

.button {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border-color: grey;
    margin-left: 5%; 
    margin-top: 5%;
    margin-bottom: 5%;  
}

.library-container {
    display: block;
    width: 70%;
}

.film-table {
   width: 100%;
}

    .film-table, tr {
        border-bottom: 1px solid grey;
        border-collapse: collapse;
    }

    .film-table, td {
        align-self: end;
    }

.film-cover-cell {
    vertical-align: central;
    width: 10%;
}

    .film-cover:hover {
        cursor: pointer;
    }

.film-name-cell {
    text-align: start;
    vertical-align: top;
    width: 30%;
}

.film-genre-cell {
    text-align: start;
    vertical-align: top;
    width: 15%;
}

.film-director-cell {
    text-align: start;
    vertical-align: top;
    width: 20%;
}

.film-country-cell {
    text-align: start;
    vertical-align: top;
    width: 13%;
}

.film-user-score-cell {
    text-align: center;
    width: 10%;
}

.film-name {
    color: #005;
    font-size: 20px;
    margin: 1%;
}

    .film-name:hover {
        cursor: pointer;
    }

.film-cover {
    margin: 1%;
}

.film-score {
    color: #f60;
    font-size: 20px;
    margin: 1%;
}

.film-info {
    margin: 1%;
    color: #888;
    font-size: 12px;
}

.film-info-list {
    padding: 1%;
}

.empty-search-result-message {
    text-align: center;
    font-size: 25px;
    margin-top: 5%;
}

.user-container {
    display: block;
    width: 10%;
}

.basic-text {
    margin-left: 5%;
    margin-top: -1%;
    margin-bottom: -1%;
}

.user-name {
    color: #005;
    font-size: 18px;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

.selected-star {
    color: orange;
}

.paging-button {
    width: 35px;
    height: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.inactive-paging-button {
    color: #f60;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: 5% 0 5% 380px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
