.outer-container {
    display: grid;
    width: 100%;
}

.nav-bar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 2 !important;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-bar-back-button-container {
    position: relative;
    width: 10%;
}

.back-button {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    font-weight: 600;
}

.nav-bar-header-container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-bar-header {
    font-size: 40px;
    font-weight: 400;
}

.nav-bar-user-container {
    position: relative;
    width: 10%;
}

.user-button {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
}



.main-part-container {
    display: flex;
    justify-content: center;
}

.film-page-container {
    width: 1200px;
    display: grid;
    background-color: var(--element-color);
}

.film-cover-and-info {
    display: flex;
    margin-right: 50px;
}

.film-cover {
    margin: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.film-info-container {
    display: grid;
    margin: 10px;
}

.user-score-container {
    margin: 5px;
    font-size: 30px;
}



.user-info-container {
    width: 400px;
    position: fixed;
    top: 20px;
    right: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3 !important;
    display: block;
    text-align: center;
    border-radius: 10px;
}

.user-name {
    font-size: 20px;
    margin-top: 20px;
}

.login-button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border: 0;
}

.close-button {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    border: 0;
}



.film-info-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

    .film-info-table tr {
        border-bottom: solid 1px var(--divider-color);
        height: 14%;
    }

    .film-info-table tr:last-child {
        border-bottom: none;
    }

.header-cell {
    width: 300px;
}

.table-header {
    text-align: start;
    color: var(--text-secondary-color);
    margin: 5px;
}

.info-cell {
    width: 600px;
}

.table-info {
    text-align: start;
    margin: 5px;
}

.rating {
    text-align: start;
    font-size: 22px;
    margin: 5px;
}



.synopsis-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 50px;
    text-align: justify;
}

.synopsis {
    font-size: 18px;
}



.film-rating-container {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 30px;
}

.rating-header {
    font-size: 20px;
    margin-bottom: 10px;
}

.selected-star {
    color: orange;
}



.comments-container {
    display: flex;
    width: 100%;
}

.new-comment-part {
    width: 45%;
    display: flex;
    justify-content: center;
}

.new-comment-container {
    height: 300px;
    width: 520px;
    display: block;
    background-color: rgba(15, 15, 15, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.new-comment-user-name {
    width: 450px;
    margin: 10px;
}

.new-comment-textarea {
    padding: 5px;
    width: 500px;
    height: 200px;
    border: 0;
    margin-left: 10px;
    margin-right: 10px;
    resize: none;
}

.center-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-list-container {
    width: 55%;
    display: grid;
}

.header {
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.send-button {
    margin: 10px;
    width: 100px;
    height: 30px;
}

.comment-container {
    width: 550px;
    margin-bottom: 10px;
    display: block;
    background-color: rgba(15, 15, 15, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.comment-user-name {
    margin: 10px;
    font-size: 20px;
}

.my-comment-user-name {
    color: var(--accent-color);
}

.comment-rating-container {
     margin: 10px;
}

.comment {
    margin: 10px;
}



.opacity-animation-enter-active {
    animation: opacity-in 0.25s ease;
}

.opacity-animation-leave-active {
    animation: opacity-in 0.125s reverse ease;
}

@keyframes opacity-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}



.log-in-register-form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.textbox {
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 5px;
}

.button {
    width: 175px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
}

.switch-button {
    margin-bottom: 5px;
}

.error-message {
    text-align: center;
    word-wrap: break-word;
    background-color: rgba(216, 66, 66, 0.7);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}