* {
    box-sizing: border-box;
    font-family: Noto Sans, sans-serif;
    color: rgb(210, 210, 210);
    font-size: 16px;
    margin: 0;
    padding: 0;
    scrollbar-color: rgb(107, 107, 107) rgb(45, 45, 45);
    scrollbar-width: thin;
}

body {
    background-color: rgb(15, 15, 15);
}

button {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: rgb(35, 35, 35);
    border: 0;
}

    button:hover {
        cursor: pointer;
        background-color: rgb(45, 45, 45);
    }

    button:disabled {
        background-color: rgb(25, 25, 25);
    }

        button:disabled:hover {
            background-color: rgb(25, 25, 25);
            cursor: auto;
        }

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: rgb(35, 35, 35);
}

    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="password"]:focus,
    textarea:focus {
        background-color: rgb(45, 45, 45);
        outline: none;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}



.outer-container {
    display: grid;
    width: 100%;
}

.nav-bar {
    width: 100%;
    height: 100px;
    display: flex;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 2 !important;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-bar-back-button-container {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.back-button {
    position: absolute;
    top: 25px;
    width: 50px;
    height: 50px;
}

.nav-bar-header-container {
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar-header {
    margin-left: 15px;
    font-size: 40px;
}

.nav-bar-user-container {
    margin-left: 10px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-button {
    width: 50px;
    height: 50px;
}



.main-part-container {
    display: flex;
    justify-content: center;
}

.film-page-container {
    width: 1200px;
    display: grid;
    background-color: rgb(35, 35, 35);
}

.film-cover-and-info {
    display: flex;
    margin-right: 50px;
}

.film-cover {
    margin: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.film-info-container {
    display: grid;
    margin: 10px;
}

.user-score-container {
    margin: 5px;
    font-size: 30px;
}



.user-info-container {
    width: 300px;
    position: fixed;
    top: 20px;
    right: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3 !important;
    display: block;
    text-align: center;
    border-radius: 10px;
}

.user-name {
    font-size: 20px;
    margin-top: 20px;
}

.login-button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border: 0;
}

.close-button {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    border: 0;
}



.film-info-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

    .film-info-table tr {
        border-bottom: solid 1px rgb(150, 150, 150);
        height: 14%;
    }

    .film-info-table tr:last-child {
        border-bottom: none;
    }

.header-cell {
    width: 300px;
}

.table-header {
    text-align: start;
    color: rgb(190, 190, 190);
    margin: 5px;
}

.info-cell {
    width: 600px;
}

.table-info {
    text-align: start;
    margin: 5px;
}

.rating {
    text-align: start;
    font-size: 22px;
    margin: 5px;
}



.synopsis-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 50px;
    text-align: justify;
}

.synopsis {
    font-size: 18px;
}



.film-rating-container {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 30px;
}

.rating-header {
    font-size: 20px;
    margin-bottom: 10px;
}

.selected-star {
    color: orange;
}



.comments-container {
    display: flex;
    width: 100%;
}

.new-comment-part {
    width: 45%;
    display: flex;
    justify-content: center;
}

.new-comment-container {
    height: 300px;
    width: 520px;
    display: block;
    background-color: rgb(15, 15, 15, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.new-comment-user-name {
    width: 450px;
    margin: 10px;
}

.new-comment-textarea {
    padding: 5px;
    width: 500px;
    height: 200px;
    border: 0;
    margin-left: 10px;
    margin-right: 10px;
    resize: none;
}

.center-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-list-container {
    width: 55%;
    display: grid;
}

.header {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.send-button {
    margin: 10px;
    width: 100px;
    height: 30px;
}

.comment-container {
    width: 550px;
    margin-bottom: 10px;
    display: block;
    background-color: rgb(15, 15, 15, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.comment-user-name {
    margin: 10px;
    font-size: 20px;
}

.my-comment-user-name {
    color: rgb(255, 47, 47);
}

.comment-rating-container {
     margin: 10px;
}

.comment {
    margin: 10px;
}